@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/* for heading */
h1.text-center.text-light {
    text-align: center;
    color: #fff;
}

/* for main container */
.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* table and form card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 100%;
    max-width: 550px;
    box-sizing: border-box;
    margin-top: 90px;
    transition: transform 0.2s;
    z-index: 0;
    
}



.p-2 {
    
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    background-color: #e5e7eb;

}

/* for header */
.p-2 header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.p-2 header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;

}

/* for form */
.p-2 form {
    position: relative;
    margin-top: 16px;
    height:430px;
    background-color: #f2f2f2;
}

/* for form field main container */

.fields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* for input fields */
form .fields .input_field {
    display: flex;
    flex-basis: calc(33.33%-10px);
    flex-direction: column;
    margin: 4px 20px;
}

label {
    display: block;

    color: #333;
}

.input_field input {
    width: 225px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 13);
}

.input_field input[type="date"]:valid {
    color: #333;
}

.input_field textarea {
    width: 760px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_field textarea:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 13);
}

/* for submit and reset buttons */
input[type="submit"],
input[type="reset"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 390px;
    border: none;
    outline: none;
    background-color: #9ca3af;
    border-radius: 5px;
    margin: 25px 10px;
    color: black;
}

input[type="submit"]:hover {
    background: #218838;
}

input[type="reset"]:hover {
    background: red;
}

.form_action--button {
    display: flex;
}

.list {
    width: 100%;
    border-collapse: collapse;
}



.text-light {
    color: #333;
}

/* for buttons */
.btn-success,
.btn-danger {
    display: inline-block;
    background-color: #218838;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}

.btn-danger {
    background-color: #dc3545;
}

.error-message {
    color: red;
}

.ast {
    color: red;
}


/* for notification */

.toast {
    position: fixed;
    top: 25px;
    right: 25px;
    max-width: 300px;
    background: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1023;
    animation: slideInRight 0.3s ease-in-out forwards,
        fadeOut 0.5s ease-in-out forwards 3s;
    transform: translateX(110%);
}

.toast.closing {
    animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-progress {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #b7b7b7;
    animation: toastProgress 3s ease-in-out forwards;
}

.toast-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-icon {
    padding: 0.35rem 0.5rem;
    font-size: 1.5rem;
}

.toast-message {
    flex: 1;
    font-size: 0.9rem;
    color: #000000;
    padding: 0.5rem;
}

.toast.toast-success {
    background: #36f083;
}

.toast.toast-success .toast-progress {
    background-color: #2ecc71;
}

.toast.toast-danger {
    background: #efaca5;
}

.toast.toast-danger .toast-progress {
    background-color: #e74c3c;
}

.toast.toast-info {
    background: #bddaed;
}

.toast.toast-info .toast-progress {
    background-color: #3498db;
}

.toast.toast-warning {
    background: #ead994;
}

.toast.toast-warning .toast-progress {
    background-color: #f1c40f;
}

#tbl {
    overflow-x: auto;
    margin: 2px;
    background-color: #fff;
}



.gender {
    margin: 4px 20px;
}

.gender input {
    margin: 4px;
}




/* Add this to your CSS file */
.tab-btn {
    background-color: transparent;
    color: #000;
    /* Set the desired text color */
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.tab-btn.active {
    background-color: #ccc;
    /* Set the desired active background color */
}

@keyframes slideInRight {
    0% {
        transform: translateX(110%);
    }

    75% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(110%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes toastProgress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

/* media query for form fields */
@media only screen and (max-width: 600px) {
    .input_field textarea {
        width: 260px;
        padding: 10px 15px;
        margin: 6px 0;
        border-radius: 8px;
    }
}